
//
// 
// --------------------------------------------------
.cover-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;
}

.cover {
	#gradient .radial( lighten(@brand-primary, 10%), @brand-primary );
	color: @white;
	text-align: center;
	&-container {
		position: relative;
	}
	&-headline {
		.text3d();
		margin: 0;
		text-transform: uppercase;
		transform: translate3d(0,0,0);
		font-size: 5em;
		@media screen and (min-width: @screen-xs-min) {
			font-size: 7em;
		}
		@media screen and (min-width: @screen-sm-min) {
			font-size: 10em;
		}
	}
	&-subheadline {
		font-size: 1.25em;
		margin-top: .5em;
	}
}


.home {
	margin-top: 50px;
	&-avatar {
		.circle();
		background-color: @white;
		width: 30px;
		margin: 0 auto;
		width: 160px;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		top: -80px;
		left: ~"calc( 50% - 80px )";
		box-shadow: 0 -10px 40px -20px fade(@black, 50%);
		transition: all 2000ms ease ;
		transform: scale(0);
		&.active {
			animation: spinIn 2000ms 500ms cubic-bezier(1,0,.4,1.5) forwards alternate;
		}
		&.deactivate {
			animation: spinOut 2000ms 0ms cubic-bezier(1,0,.4,1.5) forwards alternate;
		}
		img {
			.circle();
		}
	}
}
@keyframes spinIn {
    0% { transform: scale(0) rotateX(0); }
    100% { transform: scale(1) rotateX(360*2deg); }
}
@keyframes spinOut {
    0% { transform:  scale(1) rotateX(360*2deg); }
    100% { transform: scale(0) rotateX(0); }
}




.inner-wrapper {
	position: relative;
	background-color: @white;
}
.page-wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact-wrapper {
	background-color: fade(lighten(@brand-primary, 10%), 25%);
	color: @black;
	padding: 1em 0;
}

.footer-wrapper {
	background-color: @brand-primary;
	color: @white;
	padding: 1em 0;
}




.layer-margin {
	.layer-margin();
}

.title {
	font-weight: bold;
}

.list-title {
	font-weight: bold;
}

.fine-print {
	font-weight: 100;
	font-style: italic;
	font-size: .75em;
}

.text-right {
	text-align: right;
}

.navbar {
	border: 1px solid @brand-primary;
	> ul {
		> li {
			list-style: none;
			> a {
				float: left;
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}







