body {
	position: relative;
	background-color: @brand-primary;
	background-attachment: fixed;
	background-position: center;
	#gradient .radial( lighten(@brand-primary, 10%), @brand-primary );
}

figure {
	figcaption{
		text-align: center;
		padding: 1em 0;
		font-size: 1.25em;
		font-style: italic;
		color: #111111;
	}
}

.deck_plate-toggle {
	text-decoration: none;
	cursor: pointer;
	color: @brand-primary;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	font-size: 2em;
	padding: 0.5em;
	text-shadow: -1px 1px 2px rgba(0,0,0,0.25),
		-1px 1px 1px rgba(0,0,0,0.29);
	@media screen and (min-width: @screen-xs-min) {

	}
	@media screen and (min-width: @screen-sm-min) {
		padding: 2em 4em;
	}
	@media screen and (min-width: @screen-md-min) {

	}
	&:hover {
		text-decoration: none;
		color: @brand-primary;
	}
	& > .dbtn {
		padding: 15px;
		border-radius: 50%;
		display: block;
		height: 70px;
		width: 70px;
		color: @brand-primary;
		&:hover {
			background-color: fade(@brand-primary, 10%);
			color: @brand-primary;
		}
		.glyphicon {
			font-size: 2em;
		}
	}


}
.bilge {
	transition: right 0.25s ease;
	position: fixed;
	// z-index: -2;
	top: 0;
	bottom: 0;
	width: 320px;
	right: -320px;
	background-color: @light-grey;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25) inset,
				0 0 180px 0px rgba(0,0,0,0.25) inset;
	text-align: center;
	&.active {
		right: 0;
	}
	& nav {
		margin-top: 30vh;
		& a {
			display: block;
			font-size: 3em;
			line-height: 2;
		}
	}
}
.deck_plate {
	min-height: 100vh;
	position: relative;
	right: 0;
	transition: right 0.25s ease;
	&.active {
		right: 320px;
	}
}

.panel {
	.panel();
}

//
//
// --------------------------------------------------
.cover-wrapper {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	transition: left .25ms ease;
	&.active {
		left: -320px;
		right: auto;
	}
}

.cover {
	width: 100vw;
	height: 100vh;

	color: @brand-primary-accent;
	text-align: center;
	&-container {
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
	}
	&-headline {
		.text3d();
		margin: 0;
		text-transform: uppercase;
		transform: translate3d(0,0,0);
		font-size: 5em;
		@media screen and (min-width: @screen-xs-min) {
			font-size: 7em;
		}
		@media screen and (min-width: @screen-sm-min) {
			font-size: 10em;
		}
		@media screen and (min-width: @screen-md-min) {
			font-size: 15em;
		}
	}
	&-subheadline {
		font-size: 1.25em;
		@media screen and (min-width: @screen-sm-min) {
			font-size: 2em;
		}
		@media screen and (min-width: @screen-md-min) {
			font-size: 2.5em;
		}
		margin-top: .5em;
		color: inherit;
	}
}

.r-img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.flex {

	&-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&:nth-of-type(even), .even { flex-direction: row-reverse; }
		.flex-50p {
			width: 100%;
			@media screen and (min-width: @screen-xs-min) {
				width: 100%;
			}
			@media screen and (min-width: @screen-sm-min) {
				width: 50%;
			}
			@media screen and (min-width: @screen-md-min) {
				width: 50%;
			}
		}
	}



}

.about_me-section {
	padding: 8em 0;
	div {
		padding: 0 4em;
	}
}


.intro {
	position: relative;
	margin-top: 100px;
	padding-top: 80px;
	&-avatar {
		.circle();
		background-color: @brand-primary-accent;
		box-shadow: 0 2px 3px rgba(0,0,0,.2);
		width: 30px;
		margin: 0 auto;
		width: 160px;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		top: -80px;
		left: ~"calc( 50% - 80px )";

		// box-shadow: 0 -10px 40px -20px fade(@black, 50%);

		transition: all 2000ms ease ;
		// transform: scale(0);
		&.active {
			animation: spinIn 2000ms 500ms cubic-bezier(1,0,.4,1.5) forwards alternate;
		}
		&.deactivate {
			animation: spinOut 2000ms 0ms cubic-bezier(1,0,.4,1.5) forwards alternate;
		}
		img {
			.circle();
		}
	}
	&-header {
		margin-bottom: 40px;
		h1 {
			// padding-bottom: @rule-size*3;
		}
	}
}
@keyframes spinIn {
    0% { transform: scale(0) rotateX(0); }
    100% { transform: scale(1) rotateX(360*2deg); }
}
@keyframes spinOut {
    0% { transform:  scale(1) rotateX(360*2deg); }
    100% { transform: scale(0) rotateX(0); }
}

.project-panel {
	& > a {
		display: block;

	}
}

.under_cover-wrapper {
	position: relative;
	margin-top: 100vh;
	// background-color: @brand-primary-accent;

}
.page-wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: @light-grey;
}

.contact-wrapper {
	color: @black;
	padding: 1em 0;
}

.sub-page {
	background-color: @light-grey;
}




.about-page__main {
	padding-top: 100px;
}
//
// work-page__main
// -------------
.work {
	&-page {
		&__main {
			padding-top: 100px;
		}
	}
	&-header {
		&-headline {
			text-align: center;
		}
		&-subheadline {
			text-align: center;
		}
	}
	&-content {
		&-display {
			// width: 80%;
			// margin: 0 auto;
			// // background-color: grey;
			// height: 500px;
		}
	}
	&-projects {
		&-list {
			> li {
				float: left;
				list-style-type: none;
				> a {
					display: block;
					height: 30px;
					width: 120px;
					border: 1px solid;
					padding: 1em;
					margin: 1em;
				}
			}
		}
	}
}


.social {
	&-wrapper {
		margin: 40px 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&-item {
		padding: 0.5em;
		background: transparent;
		margin: 0 1em 1.5em;
		font-size: 2em;
		border-radius: 50%;
		color: white;
		transition: all 250ms @c-ease;
		&:hover,
		&:focus,
		&:active {
			outline: none;
			background-color: fade( darken(@white, 10%), 40%);
			color: white;
		}
	}
}



.footer {
	color: white;
	font-size: 1.25em;
	&-wrapper {
		background-color: transparent;
		position: relative;
	}

	&-top {
		padding: 1em 0;
	}

	&-bottom {
		border-top: 1px solid;
		padding: 1em 0;
		p {
			margin: 0;
			padding: 0;
		}
	}

	&-headline {
		color: inherit;
	}

	&-item {

	}

	p {
		color: inherit;
		margin: 0;
		padding: 0;
	}

}



/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */



.grid-item {
	float: left;
	padding: 0.5em;
	font-size: 2em;
	text-align: center;

	& > a {
		display: block;
		text-decoration: none;
		// border-color: #990007;
		// border-radius: 0.5em;
		// border: @rule-size solid;
		width: 100%;
		// height: 100%;
		overflow: hidden;
		background-color: rgba(153,0,7,0.05);
		min-height: 420px;
	}

	&-content {
		padding: 0.25em;
	}

	&-title {
		font-size: 1em;
		text-align: left;
		margin: 0;
		padding: 0.8em 0.2em;
	}

	&-tags {
		color: #999999;
		font-size: .6em;
	    border-top: 1px solid;
	    margin-top: .25em;

		& > ul {
			.clearfix();
			padding: 0;
			margin: 0;

			& > li {
				float: left;
				list-style-type: none;
				padding: 0 4px;
			}

		}

	}

}

// .grid-item
.grid-sizer, .grid-item { width: 100%; }
.grid-item--width2 { width:  100%; }
.grid-item--width3 { width:  100%; }

@media screen and (min-width: @screen-sm-min) {
	.grid-sizer, .grid-item { width: 50%; }
	.grid-item--width2 { width:  50%; }
	.grid-item--width3 { width:  50%; }
}

@media screen and (min-width: @screen-md-min) {
	.grid-sizer, .grid-item { width: 20%; }
	.grid-item--width2 { width:  40%; }
	.grid-item--width3 { width:  60%; }
}

// .grid-item--height2 { height: 200px; }
// .grid-item--height3 { height: 260px; }
// .grid-item--height4 { height: 360px; }



iframe {
	border: 0;
}

.layer-margin {
	.layer-margin();
}

.title,
.list-title {
	font-weight: bold;
}

.fine-print {
	font-weight: 100;
	font-style: italic;
	font-size: .75em;
}

.text-right {
	text-align: right;
}
.main-heading {
	margin-bottom: 0;
}

.button {
	border: 4px solid;
	border-radius: .25em;
	padding: .25em;
	text-decoration: none;
	font-size: 2em;
	font-weight: 700;

	&.left {
		float: left;
	}

	&-row {
		padding: .5em 0;
	}
}






.ig {

	&-cards {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 600px;

	}

	&-card {
		width: 25%;
		img {

			max-width: 100%;
			height: auto;

		}
	}

}


.content-padding {
	padding-left: 1em;
	padding-right: 1em;
	@media screen and (min-width: @screen-xs-min) {
		padding-left: 2em;
		padding-right: 2em;
	}
	@media screen and (min-width: @screen-sm-min) {
		padding-left: 3em;
		padding-right: 3em;
	}
	@media screen and (min-width: @screen-md-min) {
		padding-left: 4em;
		padding-right: 4em;
	}
}
