//
// 
// --------------------------------------------------
.cover-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;
}
.cover {
	#gradient .radial( lighten(@red, 10%), @red );
	.text3d();
	color: @white;
	&-headline {
		color: inherit;
		margin: 0;
		text-align: center;text-transform: uppercase;
		text-align: center;
		font-size: 10em;
	}
}
.inner-wrapper {
	position: relative;
	background-color: @white;
}

.footer-wrapper {
	background-color: darken(@white, 10%);
	padding: 0;
}



















