//
// Typography
/*
	@media (min-width: @screen-xs-min) {}
	@media (min-width: @screen-sm-min) {}
	@media (min-width: @screen-md-min) {}
	@media (min-width: @screen-lg-min) {}
*/
// --------------------------------------------------

// Fonts
// TODO: Can these be loaded locally, or use a font that can be local?
//		^ up for discussion: speed vs. local?
// -------------------------


@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300); // Headlines

@import url(https://fonts.googleapis.com/css?family=Raleway:500,300); // Body Copy

// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600); // Body Copy Alternative

// Global
// -------------------------
html,
body {
	font-size: 16px;
}
body {
	.body-font-family();
	font-size: 62.5%; // 16px * 62.5% = base10
	font-weight: 300;
}

// Headings
// -------------------------
h1,h2,h3,h4,h5,h6 {
	.header-font-family();
}
h1, .h1 { font-size: 3em; }
h2, .h2 { font-size: 2em; }
h3, .h3 { font-size: 2em; }
// h4, .h4 { font-size: @font-size-h4; }
// h5, .h5 { font-size: @font-size-h5; }
// h6, .h6 { font-size: @font-size-h6; }

.heading-typ-1 {
	color: @body-copy-color;
	font-size: 2em;
	// padding-bottom: 1em;
	padding-bottom: @rule-size*3;
	border-bottom: @rule-size solid @brand-primary;
	margin-bottom: 1em;
	.text-center();
	&.wp {
		padding-bottom: @rule-size*3;
		margin-bottom: 0;
	}
	@media screen and (min-width: @screen-xs-min) {
		font-size: 3em;
	}
	@media screen and (min-width: @screen-md-min) {
		font-size: 4em;
	}
	@media screen and (min-width: @screen-lg-min) {
		font-size: 5em;
	}
	& a {
		color: @body-copy-color;
	}
	.aux {
		font-weight: 100;
		font-style: italic;
		display: block;
		font-size: 0.75em;
		margin-top: 1em;
		color: fade(@body-copy-color, 50%);
	}
	& + p {
		text-align: center;
		font-size: 1.5em;
	}
}


// Paragraphs
// -------------------------
p {
	.body-font-size();
	line-height: 2;
	color: @body-copy-color;
	margin-bottom: 2em;

	.footer & {
		font-size: 1em;
		line-height: 1;
	}

}

// List Items
// -------------------------
.li {
	.body-font-size();
}
ul.big-list > li {
	font-size: 2em;
	font-weight: normal;
	line-height: 2.0;

}

// Links
// -------------------------

a {
	color: @brand-primary;
	&:hover {
		color: darken(@brand-primary, 10%);
	}
}


// use scafolding with a suffix, as opposed to a prefix
-link {
	.resume& {
		font-size: 1.5em;
	}
}


// Misc
// _-_-_-_-_-_-_-_-_-_-_-_-_-
.bold {
	font-weight: 500;
}
