//
// Custom Variables
// --------------------------------------------------

// Animation Variables
// --------------------------------------------------
@c-ease: cubic-bezier(.45,.05,.55,.95);
@c-transition-delay: 		150ms;

// Colors
// --------------------------------------------------

@white: #FFFFFF;

@black: #000000;

@dark-grey: lighten(@black, 10%);

@red: #990007;

@brand-primary: @red;

@brand-primary-accent: @white;

@body-copy-color: @dark-grey;





// Sizes
// --------------------------------------------------

@atomic-pixels: 4px;
@rule-size: @atomic-pixels;