//
// Custom Variables
// --------------------------------------------------

// Animation Variables
// --------------------------------------------------
@ease: cubic-bezier(.45,.05,.55,.95);

// Colors
// --------------------------------------------------

@white: #FFFFFF;
@black: #000000;

@dark-grey: lighten(@black, 10%);

@red: #990007;


@brand-primary: @red;
@body-copy-color: @dark-grey;