//
//
// --------------------------------------------------
.work {
	&.cards {
		&:hover > .card {
			filter: opacity(0.5);
			// filter: grayscale(50%) blur(2px) opacity(0.5);
			// transform: scale(0.99);
		}
		> .card {
			padding: 1px;
			margin: 0;
			transition: all 0.4s ease;

			> a {
				display: block;
				margin: 1em;
			}
			.content {
				position: absolute;
				left: 1em;
				right: 1em;
				bottom: 1em;
				height: 50%;
				text-align: center;
				background-color: fade(@brand-primary, 95%);
				color: white;
				margin: 0 1px;
				padding: 1em;
				// transform: scaleY(0);
				transform: rotateX(90deg);
				transform-origin: bottom;
				transform-style: preserve-3d;
				transition: all 0.4s ease;
				.title {
					margin: 0;
					font-weight: normal;
				}
				.description {
					margin-top: 1em;
					color: inherit;
					line-height: 1.2;
					font-size: 1.2em;
				}
			}
			&:hover {
				filter: grayscale(0%) blur(0px);
				// transform: scale(1);
				perspective: 100px;
				.content {
					// transform: scaleY(1);
					transform: rotateX(0deg);
				}
			}
		}
	}

	// transform: scale(1.09) rotate(3deg);
	// transition: all 0.25s ease;
	// filter: grayscale(100%);
	// blur(5px)
	// 	transform: scale(1) rotate(0deg);
	// transition: all 0.25s ease;
	// filter: grayscale(00%);
}


.sub-page {

	.sub-page__header {
		position: fixed;
		z-index: 2;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		border-top: @rule-size solid @brand-primary;
		background-color: transparent;
		background-color: fade(black, 20%);
		.clearfix();

		&-heading {
			position: absolute;
			background-color: @brand-primary;
			color: @brand-primary-accent;
			padding: .5em 1em 1em 1em;
			margin-left: 1.6em;
			border-radius: 0 0 1em 1em;
			font-size: 1.25em;
			text-transform: uppercase;
			// &:before,
			// &:after {
			// 	content: "";
			// 	position: absolute;
			// 	top: 0;
			// 	width: 1em;
			// 	height: 1em;
			// 	background-color: @brand-primary;
			// }
			// &:before {
			// 	left: -1em;
			// }
			// &:after {
			// 	right: -1em;
			// }
			h1 {
				margin: 0;
			}
		}
	}


	.sub-page__nav {
		position: relative;
		z-index: 1;
		padding-top: 1em;
		.work-nav {
			margin-top: 2em;
			@media screen and (min-width: @screen-sm-min) {
				margin-top: 0;
			}
		}
	}


	.sub-page__main {
		position: relative;
		z-index: 0;
	}


}
